
p.h1 {
    color: #ffd83d; 
  font-weight: 800;
}

           body {
    background-color: #262626 !important;
}
 product-card.product-card.ribbon.ribbon-Trykaflastende.highlighted {
    background-color: black;
}
          product-card.product-card.ribbon.ribbon-Kølende.highlighted {
    background-color: black;
}
          strong {
     color: #ffd83d; 
}
          h2.h2 {
   color: #ffd83d; 
}
          span.animated-plus.group-expanded\:rotate {
    color: white;
}
          span.text-with-icon.gap-4 {
    color: white;
}
          a.breadcrumbs__link {
            color:#806f63;
}

